*{
  margin: 0;
  padding: 0;
}
.app {
  background-color: black;
  text-align: center;
  color: white;
}

.search{
  padding: 20px;
}

.search input{
  width: 50%;
  padding: 15px;
  outline: none;
  border: none;
  border-top-left-radius:10px ;
  border-bottom-left-radius: 10px;
}
.search button{
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  transition:all .3s ease;
  
}
.search button:hover{
  background-color: aquamarine;
  transition:all .3s ease;
}
.wrapper{
  background:black;
  display:grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  padding:0 50px;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-gap: 20px;  
}
  
  .cards{
  margin:15px;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  flex-direction:column;
  border:2px solid white;
  text-align:center;
  height: 100%;
  background-color: white;
  color: black;
  transition:all .3s ease-in-out;

  }
  .cards:hover{
    transform: scale(0.9);
    transition:all .3s ease-in-out;
  }
  .author{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .cards img{
  height:230px;
  width:100%;
  }
  h3{
    padding: 7px;
  }

  p{
  display:flex;
  padding:0 15px;
  }
  .more__btn{
    outline: none;
    border: none;
    margin: auto;
    padding: 5px;
    width: 100px;
    background: none;
    color: grey;
    text-decoration: underline !important;
  }
  .more__btn:hover{
    color: black;
    cursor: pointer;
  }