*{
  margin: 0;
  padding: 0;
}
.app {
  background-color: black;
  text-align: center;
  color: white;
  position: sticky;
}

.search{
  padding: 20px;
}

.search input{
  width: 50%;
  padding: 15px;
  outline: none;
  border: none;
  border-top-left-radius:10px ;
  border-bottom-left-radius: 10px;
}
.search button{
  padding: 15px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  transition:all .3s ease;
  
}
.search button:hover{
  background-color: aquamarine;
  transition:all .3s ease;
}
.wrapper{
  background:black;
  display:grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  padding:0 50px;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-gap: 20px;  
}
  
  .cards{
  margin:15px;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  flex-direction:column;
  border:2px solid white;
  text-align:center;
  height: 95%;
  background-color: white;
  color: black;
  transition:all .3s ease-in-out;

  }
  .cards:hover{
    transform: scale(0.9);
    transition:all .3s ease-in-out;
  }
  .author_publish{
    font-size: 13px;
    display: flex;
    color: grey;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .cards img{
  height:230px;
  width:100%;
  }
  h4{
    padding: 7px;
  }
  p{
  display:flex;
  padding:0 15px;
  font-size:13px ;
  }
  .more__btn{
    outline: none;
    border: none;
    margin: auto;
    padding: 5px;
    width: 100px;
    background: none;
    color: grey;
    text-decoration: underline !important;
  }
  .more__btn:hover{
    color: black;
    cursor: pointer;
  }
.more{
  margin-top: 10px;
}
  .wrapper,h3,p {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


  h1 {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
